body{
    background-color:bisque;
    height:400px;
}

#heading{
    width:550px;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative;
    left:830px;
    top:40px;
   
}

#image{
    display:inline-block;
    height:600px;
    width:600px;
    position:relative;
    bottom:80px;
    left:50px;
    background-image:url(https://cdn-icons-png.flaticon.com/512/3344/3344362.png);
    background-size:cover;
}

#form{
    width:750px;
    height:500px;
    background-color:white;
    position:relative;
    left:730px;
    bottom:600px;
    font-size:50px;
    font-family:monospace;
    display:flex;
    justify-content:start;
    border:3px solid black;
    border-radius:15px;
    background-color:aquamarine
}

.info{
    position:relative;
    top:20px;
    left:30px;
}

input{
    font-size:30px;
}

textarea{
    font-size:30px;
}

#sub{
    position:relative;
    bottom:30px;
    background-color:yellow;
}

input:hover,textarea:hover{
    border-color:red;
    border-width:2px;
    background-color:mistyrose;
}
